:root {
  --navbar-height: 70px;
  --footer-height: 309px;
  /* --footer-height: 632px; */
}

@media (max-width: 900px) {
  :root {
    --footer-height: 632px;
    /* --footer-height: 309px; */
  }
}
